@model IEnumerable<MyTrails.Models.Condition>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@{
    var zones = Model.Select(x => x.Trail.Zone).Distinct();
}
@for (int i = 0; i < zones.Count(); i++)
{
    <h3>@zones.ElementAt(i)</h3>
    <table class="table">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.PercentSnowCover)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
        </table>
        var trailName = Model.Where(x => x.Trail.Zone == zones.ElementAt(i)).OrderBy(x => x.Trail.TrailName).Select(x => x.Trail.TrailName).Distinct(); 
        foreach (var item in trailName)
        {
        @item
            //var conditions = Model.Where(x => x.Trail.TrailName == item);

    <table class="table">
        @foreach (var condition in Model.Where(x => x.Trail.TrailName == item))
        {


        <tr>

            <td>
                @Html.DisplayFor(modelItem => condition.PercentSnowCover)

            </td>
            <td>
                @Html.DisplayFor(modelItem => condition.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => condition.Date)
            </td>

        </tr>
        }
    </table>
        }
    
}



